<h3><%= address[0] %> address</h3>
<table class="table table-striped table-sm key-value">

  <tbody>
    <tr>
      <td>Email</td>
      <td>
        <% unless address[12].blank? -%>
          <a href="mailto:<%= address[12].text %>">
		  	<%= address[12].text %>
		  </a>
        <% end -%>
      </td>
    </tr>
    <tr>
      <td>Line 1</td>
      <td><%= address[4].text %></td>
    </tr>
    <tr>
      <td>Line 2</td>
      <td><%= address[5].text %></td>
    </tr>
    <tr>
      <td>Line 3</td>
      <td><%= address[6].text %></td>
    </tr>
    <tr>
      <td>Line 4</td>
      <td><%= address[7].text %></td>
    </tr>
    <tr>
      <td>Line 5</td>
      <td><%= address[8].text %></td>
    </tr>
    <tr>
      <td>Postcode</td>
      <td><%= address[9].text %></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>
        <% unless address[10].blank? %>
          <a href="tel:<%= address[10].text.gsub( ' ', '' ) %>">
          	<%= address[10].text %>
		</a>
        <% end -%>
      </td>
    </tr>
    <tr>
      <td>Fax</td>
      <td><%= address[11].text %></td>
    </tr>
    <tr>
      <td>Is preferred?</td>
      <td><%= address[1].text %></td>
    </tr>
    <tr>
      <td>Is physical?</td>
      <td><%= address[2].text %></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>Note</td>
      <td><%= address[3].text %></td>
    </tr>
  </tfoot>
</table>
