<%= content_tag( 'h3', constituency[1] ) %>
<table class="table table-sm key-value">
	<tbody>
		<tr>
			<%= content_tag( 'td', 'Constituency ID' ) %>
			<%= content_tag( 'td', constituency[0] ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'From' ) %>
			<%= content_tag( 'td', constituency[2].strftime( '%e %B %Y') ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'To' ) %>
			<td>
				<% if constituency[3] -%>
					<%= constituency[3].strftime( '%e %B %Y') %>
				<% end -%>
			</td>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Election ID' ) %>
			<%= content_tag( 'td', constituency[4] ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Election name' ) %>
			<%= content_tag( 'td', constituency[5] ) %>
		</tr>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Election date' ) %>
			<%= content_tag( 'td', constituency[6].strftime( '%e %B %Y') ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Election type' ) %>
			<%= content_tag( 'td', constituency[7] ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'End reason' ) %>
			<%= content_tag( 'td', constituency[8] ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Entry type' ) %>
			<%= content_tag( 'td', constituency[9] ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Notes' ) %>
			<%= content_tag( 'td', constituency[10] ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Swearing in order' ) %>
			<%= content_tag( 'td', constituency[11] ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Sworn in title' ) %>
			<%= content_tag( 'td', constituency[15] ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Sworn in forename' ) %>
			<%= content_tag( 'td', constituency[12] ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Sworn in middle names' ) %>
			<%= content_tag( 'td', constituency[13] ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Sworn in surname' ) %>
			<%= content_tag( 'td', constituency[14] ) %>
		</tr>
	</tbody>
</table>