<%= content_tag( 'h4', constituency[1].text ) %>
<table class="table table-striped table-sm key-value">
	<tbody>
		<tr>
			<%= content_tag( 'td', 'Constituency ID' ) %>
			<%= content_tag( 'td', constituency[0].text ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'From' ) %>
			<%= content_tag( 'td', constituency[2].strftime( '%e %B %Y') ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'To' ) %>
			<td>
				<% if constituency[3] -%>
					<%= constituency[3].strftime( '%e %B %Y') %>
				<% end -%>
			</td>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Election ID' ) %>
			<%= content_tag( 'td', constituency[4].text ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Election name' ) %>
			<%= content_tag( 'td', constituency[5].text ) %>
		</tr>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Election date' ) %>
			<%= content_tag( 'td', constituency[6].strftime( '%e %B %Y') ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Election type' ) %>
			<%= content_tag( 'td', constituency[7].text ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'End reason' ) %>
			<%= content_tag( 'td', constituency[8].text ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Entry type' ) %>
			<%= content_tag( 'td', constituency[9].text ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Notes' ) %>
			<%= content_tag( 'td', constituency[10].text ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Swearing in order' ) %>
			<%= content_tag( 'td', constituency[11].text ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Sworn in title' ) %>
			<%= content_tag( 'td', constituency[15].text ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Sworn in forename' ) %>
			<%= content_tag( 'td', constituency[12].text ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Sworn in middle names' ) %>
			<%= content_tag( 'td', constituency[13].text ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Sworn in surname' ) %>
			<%= content_tag( 'td', constituency[14].text ) %>
		</tr>
	</tbody>
</table>