<table class="table table-sm">
	<%= content_tag( 'caption', lords_membership_type[0] ) %>
	<tbody>
		<tr>
			<%= content_tag( 'th', 'From' ) %>
			<%= content_tag( 'td', lords_membership_type[1].strftime( '%e %B %Y') ) %>
		</tr>
		<tr>
			<%= content_tag( 'th', 'To' ) %>
			<td>
				<%= lords_membership_type[2].strftime( '%e %B %Y') if lords_membership_type[2] %>
			</td>
		</tr>
	</tbody>
</table>