<%= content_tag( 'h3', lords_membership_type[0] ) %>
<table class="table table-sm key-value">

	<tbody>
		<tr>
			<%= content_tag( 'td', 'From' ) %>
			<%= content_tag( 'td', lords_membership_type[1].strftime( '%e %B %Y') ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'To' ) %>
			<td>
				<%= lords_membership_type[2].strftime( '%e %B %Y') if lords_membership_type[2] %>
			</td>
		</tr>
	</tbody>
</table>