<%= content_tag( 'h3', party[1] ) %>
<table class="table table-sm key-value">
	<tbody>
		<tr>
			<%= content_tag( 'td', 'Party ID' ) %>
			<%= content_tag( 'td', party[0] ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Sub party' ) %>
			<%= content_tag( 'td', party[2] ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'From' ) %>
			<%= content_tag( 'td', party[3].strftime( '%e %B %Y') ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'To' ) %>
			<td>
				<% if party[4] -%>
					<%= party[4].strftime( '%e %B %Y') %>
				<% end -%>
			</td>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Note' ) %>
			<%= content_tag( 'td', party[5] ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Sits opposite side to party' ) %>
			<%= content_tag( 'td', party[6] ) %>
		</tr>
	</tbody>
</table>