<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<%= content_tag( 'title', @page_title || $SITE_TITLE ) %>
		<meta name="description" content="<%= @description %>">
		<% if Rails.env.production? -%>
			<base href="https://api.parliament.uk/mnis-prodder">
		<% end %>
		<meta charset="utf-8">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="date=no">
		<meta name="viewport" content="width=device-width">
		
		<%= render 'library_design/library_design_stylesheets' %>
		<%= stylesheet_link_tag "application" %>
		
		<%= render :partial => 'layouts/head/json_ld/crumb', :object => @crumb %>
	</head>
	<body class="section-<%= @section %> brand-bicameral">
	  	<%= render 'layouts/header/header' %>
		<main class="container block block-page" id="main-content">
			<div class="inner-content container">
				<div class="reading-width">
					<%= content_tag( 'h1', @page_title || $SITE_TITLE ) %>
	      			<%= yield %>
				</div>
	  		</div>
	    </main>
		<%= render 'library_design/footer' %>
	</body>
</html>
