<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <title><% if Rails.env.development? -%>*<% end -%>Search MNIS</title>
    <% if Rails.env.production? -%>
			<base href="https://api.parliament.uk/mnis-prodder">
		<% end %>
		<meta charset="utf-8">
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="date=no">
		<meta name="viewport" content="width=device-width">

		<%= stylesheet_link_tag "bootstrap-4.5.3" %>
		<%= stylesheet_link_tag "fontawesome-5.13.0" %>
		<%= stylesheet_link_tag "pds-design-system" %>
		<%= stylesheet_link_tag "library-extras-1.0.0" %>
		<%= stylesheet_link_tag "application" %>
  </head>
  <body>
  	<%= render 'layouts/header/header' %>

    <main class="container" id="main-content">
    	<div class="inner-content container">
				<div class="reading-width">
      		<%= yield %>
    		</div>
  		</div>
    </main>

		<%= render 'layouts/footer' %>
  </body>
</html>
